<section class="main">
  <div class="container">
    <div class="main-banners">
      <owl-carousel-o [options]="customOptions" #owlCar>
        @for (banner of banners; track banner.id) {
          <ng-template carouselSlide>
            <div class="main-items">
              <div class="main-cover-bg">
                <img src="./images/pages/main/main-bg.png" alt="Фон">
              </div>
              <div class="main-item">
                <div class="main-category">
                  {{ banner.category }}
                </div>
                <div class="main-title">
                  @for (item of banner.title; track $index) {
                    @if (item.accent) {
                      <span>{{ item.text }}</span>
                    } @else {
                      {{ item.text }}
                    }
                  }
                </div>
                @if (banner.text) {
                  <div class="main-text">
                    {{ banner.text }}
                  </div>
                }
                <button class="button">Подробнее</button>
              </div>
              <div class="main-banner">
                <img src="{{ banner.image }}" alt="{{ banner.imageDesc }}">
              </div>
            </div>
          </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>
</section>

<section class="offers">
  <div class="container">
    <div class="offers-title">Услуги, которые мы предлагаем</div>
    <div class="offers-items">
      @for (offer of offers; track offer.id) {
        <div class="offers-item">
          <div class="offer-image">
            <img src="{{ offer.image }}" alt="offer">
          </div>
          <div class="offer-title">
            {{ offer.title }}
          </div>
          <div class="offer-text">
            {{ offer.text }}
          </div>
          <div class="offer-actions">
            <div class="offer-actions-price">
              {{ offer.price }}
            </div>
            <button class="button" (click)="openOrderPopup(offer.title)">Подробнее</button>
          </div>
        </div>
      }
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="about-image">
      <img src="./images/pages/main/about.png" alt="About">
    </div>
    <div class="about-wrapper">
      <div class="about-title">Кто мы и чем мы занимаемся?</div>
      <div class="about-text"><span>АйтиШторм</span> — это ваш помощник №1 при решении таких вопросов, как продвижение в
        сети,
        разработка сайтов для бизнеса и личного бренда, сторисмейкинг, копирайтинг, маркетинг, разработка визуальной
        концепции и создание инфопродуктов. Компания была основана в 2019 году и за всё это время смогла выйти в ТОП-10
        агенств, предлагающих услуги продвижения в сети.
      </div>
      <div class="about-items-title">Наши преимущества</div>
      <div class="about-items">
        @for (about of abouts; track about.id) {
          <div class="about-item">
            <div class="about-item-count">
              {{ about.id }}
            </div>
            <div class="about-item-text">
              <span>{{ about.accentText }}</span> {{ about.text }}
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>

<section class="articles">
  <div class="container">
    <div class="articles-title">
      Популярные статьи из блога
    </div>
    <div class="articles-items">
      @for (article of articles(); track article.id) {
        <app-article-card [article]="article"></app-article-card>
      }
    </div>
    <a routerLink="/blog" class="articles-action">
      <span>Перейти в блок</span>
      <svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.608961 0C0.763747 0 0.918533 0.0565243 1.04073 0.177649L6.35234 5.44254C7.21589 6.29849 7.21589 7.70353 6.35234 8.55948L1.04073 13.8244C0.80448 14.0585 0.413442 14.0585 0.177189 13.8244C-0.0590634 13.5902 -0.0590634 13.2026 0.177189 12.9684L5.4888 7.70353C5.87984 7.31593 5.87984 6.68608 5.4888 6.29849L0.177189 1.0336C-0.0590634 0.799424 -0.0590634 0.411823 0.177189 0.177649C0.299388 0.064599 0.454175 0 0.608961 0Z" fill="#709FDC"/>
      </svg>
    </a>
  </div>
</section>

<ng-template #popup>
  <div class="popup">
    <button class="popup-close" (click)="closePopup()">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="0.935622" y1="0.649994" x2="12.9564" y2="12.6708" stroke="#BEBEBE" stroke-linecap="round"/>
        <line x1="12.9236" y1="0.629775" x2="0.902769" y2="12.6506" stroke="#BEBEBE" stroke-linecap="round"/>
      </svg>
    </button>
    <div class="popup-title">Заявка на услугу</div>
    <div class="auth-form" [formGroup]="orderForm">
      <div class="auth-inputs">
        <div class="auth-input">
          <select class="input" formControlName="service">
            @for (offer of offers; track offer.id) {
              <option value="{{ offer.title }}">{{ offer.title }}</option>
            }
          </select>
        </div>
        <div class="auth-input">
          <input type="text" class="input"
                 formControlName="name"
                 [ngStyle]="{'border-color': name?.invalid
                 &&  (name?.dirty ||  name?.touched) ? 'red' : ''}"
                 placeholder="Ваше имя">
          @if (name?.invalid && name?.touched) {
            <div class="error-messages">
              @if (name?.errors?.['required']) {
                <small>Введите имя</small>
              }
              @if (name?.errors?.['pattern']) {
                <small>Имя должно содержать только русские буквы</small>
              }
            </div>
          }
        </div>
        <div class="auth-input">
          <input type="text" class="input"
                 formControlName="phone"
                 [ngStyle]="{'border-color': phone?.invalid
                 &&  (phone?.dirty ||  phone?.touched) ? 'red' : ''}"
                 placeholder="Ваш номер телефона">
          @if (phone?.invalid && phone?.touched) {
            <div class="error-messages">
              @if (phone?.errors?.['required']) {
                <small>Введите номер телефона</small>
              }
              @if (phone?.errors?.['pattern']) {
                <small>Некорректный номер телефона</small>
              }
            </div>
          }
        </div>
        <div class="auth-button">
          <button class="button">Оставить заявку</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
