@use "../../../../../assets/styles/auth-form";

.login {
  margin-top: 106px;
  margin-bottom: 92px;
  .container {
    display: flex;

    .page-image {
      margin-left: 185px;

      img {
        vertical-align: top;
      }
    }
  }
}
